on init
    # RIL <-> audioserver comm
    chmod 0644 /proc/cmdline
    symlink /dev/block/platform/15540000.dwmmc0/by-name/RADIO /dev/mbin0
    restorecon /dev/mbin0

on early-boot
# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 2097152
    write /proc/sys/net/core/wmem_max 2097152

on fs
# MIF
    chown radio radio /sys/devices/virtual/misc/multipdp/waketime
    chmod 0660 /sys/devices/virtual/misc/umts_dm0/dm_state
    chown radio system /sys/devices/virtual/misc/umts_dm0/dm_state
    chown radio system /efs
    chmod 0771 /efs

# Parse hardware revision (needs to happen before cbd starts)
service modemloader /vendor/bin/modemloader
    class core
    oneshot

# CP Boot Daemon (CBD)
service cpboot-daemon /vendor/bin/hw/cbd -d -tstem7400 -bh -mh -p 13
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell
	disabled

on property:ro.modemloader.done=1
    start cpboot-daemon
    start ril-daemon

