# Parse hardware revision (needs to happen before cbd starts)
service modemloader /system/bin/modemloader
    class core
    oneshot

on property:ro.modemloader.done=1
    start cpboot-daemon

on init
    # RIL <-> audioserver comm
    chmod 0644 /proc/cmdline	

# CP Boot Daemon (CBD)
service cpboot-daemon /vendor/bin/cbd -d -tstem7400 -bh -mh -p 13
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell
    seclabel u:r:cpboot-daemon:s0
    disabled

# RIL
service ril-daemon /vendor/bin/hw/rild
    class main
    user root
    group radio cache inet misc audio log readproc wakelock
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW

on property:persist.sys.cpboot=disable
    stop cpboot-daemon
    stop ril-daemon
